.container {
  @include outer-container;

  @include mq(m) {
    padding: 0 1em;
  }
}

// Wraps main content and social links
#content-bottom-1 {
  clear: both;
  overflow: hidden;
  padding-top: 2em;
  padding-bottom: 2em;
}

// Remove container padding from header on mobile
#header .container {
  padding: 0;
}

#main-content {
  padding-bottom: 2rem;
}

/**********
 * BASIC PAGE LAYOUT
 **********/
// Basic page main content container
.not-front.has-background-image #main-content,
.not-front.has-background-image #main-content > .container {
  max-width: none; // Remove max width for full width header

  @include mq(m) {
    padding: 0;
  }
}

.not-front.has-background-image #block-splc_page-landing-child-listing {
  @include outer-container;
}

// Set position on body content
.addthis-body-wrapper {
  @include outer-container;

  @include mq(t) {
    padding: 0 1em;
  }

  @include mq(m) {
    padding: 0 1em;
  }

  .field-name-body {
    @include span-columns(12);
  }
}

// View headers
#view_header {
  @include mq(t) {
    padding: 1em;
  }

  @include mq(m) {
    padding: 1em;
  }
}

// Add some padding to the bottom of the main content area
.page-node #main-content {
  //padding: 0 2em;
  @include outer-container;
}

aside  {
  @include span-columns(4);
  @include omega;

  @include mq(t) {
    @include span-columns(12);
    padding: 0 1rem;
  }

  @include mq(m) {
    @include span-columns(12);
    padding: 0 1rem;
  }
}

#content-area .group-content {
  @include mq(t) {
    padding: 0 1em;
  }

  @include mq(m) {
    padding: 0 1em;
  }
}

// Form div with no class
form > div {
  width: 100% !important;
  margin-left: 0 !important;
}

/**********
 * Office
 **********/
.node-type-office .office-body {
  @include span-columns(8);

  @include mq(t) {
    @include span-columns(12);
    padding-left: 1em;
    padding-right: 1em;
  }

  @include mq(m) {
    @include span-columns(12);
    padding-left: 1em;
    padding-right: 1em;
  }
}

.node-type-office aside {
  @include span-columns(4);

  @include mq(t) {
    @include span-columns(12);
    padding-left: 1em;
    padding-right: 1em;
  }

  @include mq(m) {
    @include span-columns(12);
    padding-left: 1em;
    padding-right: 1em;
  }
}

/**********
 * Person
 **********/
.node-type-person .group-content {
  @include span-columns(8);

  @include mq(t) {
    @include span-columns(12);
    padding-left: 1em;
    padding-right: 1em;
  }

  @include mq(m) {
    @include span-columns(12);
    padding-left: 1em;
    padding-right: 1em;
  }
}

.node-type-person aside {
  @include span-columns(4);

  @include mq(t) {
    @include span-columns(12);
    padding-left: 1em;
    padding-right: 1em;
  }

  @include mq(m) {
    @include span-columns(12);
    padding-left: 1em;
    padding-right: 1em;
  }
}

/**********
 * Ideology
 **********/
.node-type-ideology .group-content {
  @include span-columns(8);

  @include mq(t) {
    @include span-columns(12);
    padding-left: 1em;
    padding-right: 1em;
  }

  @include mq(m) {
    @include span-columns(12);
    padding-left: 1em;
    padding-right: 1em;
  }
}

.node-type-ideology aside {
  @include span-columns(4);

  @include mq(t) {
    @include span-columns(12);
    padding-left: 1em;
    padding-right: 1em;
  }

  @include mq(m) {
    @include span-columns(12);
    padding-left: 1em;
    padding-right: 1em;
  }
}

/**********
 * Staff / Board
 **********/
.page-about-staff,
.page-about-board {
  .field-name-field-addthis {
    //display: none;
  }

  .field-name-body {
    @include span-columns(11);
  }
}

/**********
 * Issue Area
 **********/
.node-type-issue-area.has-background-image #main-content {
  max-width: none;
  padding: 0;
}

.node-type-issue-area .group-content {
  @include outer-container;
}

.node-type-issue-area .group-addthis-body-wrapper {
  @include span-columns(8);

  @include mq(t) {
    @include span-columns(12);
  }

  @include mq(m) {
    @include span-columns(12);
  }
}

.node-type-issue-area aside {
  @include span-columns(4);

  @include mq(t) {
    @include span-columns(12);
  }

  @include mq(m) {
    @include span-columns(12);
  }
}

.node-type-issue-area #block-splc_page-landing-child-listing {
  @include span-columns(12);
  margin-top: 2em;

  @include mq(t) {
    @include span-columns(12);
    @include shift(0);
  }

  @include mq(m) {
    @include span-columns(12);
    @include shift(0);
  }
}

/**********
 * Cases
 **********/
.node-type-case .field-name-field-addthis {
  display: none;
}

.node-type-case .group-content {
  @include span-columns(8);

  @include mq(t) {
    @include span-columns(12);
  }

  @include mq(m) {
    @include span-columns(12);
  }
}

/**********
 * Cases Docket
 **********/
.page-seeking-justice-case-docket {
  #content-bottom-1 .container {
    @include mq(t) {
      padding: 0 1em;
    }

    @include mq(m) {
      padding: 0 1em;
    }
  }

  .view-header .container {
    @include mq(t) {
      padding: 0 1em;
    }

    @include mq(m) {
      padding: 0 1em;
    }
  }
}


/**********
 * Story Detail
 **********/
 // Basic page main content container
.node-type-story #main-content,
.node-type-story #main-content > .container {
  max-width: none; // Remove max width for full width header
}

 // Set position on body content
.addthis-body-wrapper {
  @include outer-container;

  .field-name-body {
    @include span-columns(12);
  }
}

// Byline
.node-type-story .group-byline {
  @include outer-container;
  overflow: hidden;

  .group-byline-container {
    @include span-columns(12);
  }
}

// Story has 10 columns instead of 12
.node-type-story {
  //@include outer-container;

  .group-content-container {
    @include outer-container;
    .field-name-field-long-text,
    .field-name-body {
      @include span-columns(10);
      @include shift(1);

      @include mq(m) {
        @include span-columns(12);
        @include shift(0);
        padding: 0 1em 1em 1em;
      }
    }
  }
  .group-section-body-wrapper {
    @include outer-container;

    .field-name-title-field,
    .field-name-field-section-body{
      @include span-columns(10);
      @include shift(1);

      @include mq(m) {
        @include span-columns(12);
        @include shift(0);
        padding: 0 1em 1em 1em;
      }
    }
  }
}

/**********
 * Extremist Profile
 **********/
.node-type-extremist-profile aside {
  @include span-columns(4);

  @include mq(t) {
    @include span-columns(12);
  }

  @include mq(m) {
    @include span-columns(12);
  }
}

.node-type-extremist-profile .group-content {
  @include span-columns(8);

  @include mq(t) {
    @include span-columns(12);
  }

  @include mq(m) {
    @include span-columns(12);
  }
}

/**********
 * Extremist group
 **********/
.node-type-group aside {
  @include span-columns(4);

  @include mq(t) {
    @include span-columns(12);
    padding: 0 1em;
  }

  @include mq(m) {
    @include span-columns(12);
    padding: 0 1em;
  }
}

.node-type-group .group-content {
  @include span-columns(8);

  @include mq(t) {
    @include span-columns(12);
  }

  @include mq(m) {
    @include span-columns(12);
  }
}

/**********
 * Landing page padding
 **********/
.page-fighting-hate-extremist-files-individual #content-bottom-1,
.page-resources #content-bottom-1,
.page-hatewatch #content-bottom-1 {
  @include mq(t) {
    padding: 1em;
  }

  @include mq(m) {
    padding: 1em;
  }
}

/**********
 * Credit Card Update Form
 **********/
.page-ccupdate #banner {
  @include outer-container;
}
