.page-fighting-hate-hate-incidents #views-exposed-form-hate-incidents-incidents > div {
  width: 100%;
  margin-left: 0;
}
.page-fighting-hate-hate-incidents #views-exposed-form-hate-incidents-incidents .views-exposed-form {
  background: $alto;
  padding: 1em;

  @include mq(m) {
    padding: 0;
    background: none;
  }

  .views-exposed-widgets {
    float: none;
    margin: 0;
    padding: 0;
  }

  .views-exposed-widget {
    padding: 0;
  }

  .views-exposed-widgets #edit-keyword-wrapper {
    width: 96%;

    @include mq(m) {
      width: 85%;
    }

    input[type=text] {
      border: none;
      border-radius: 0;
      margin-bottom: 0;
      padding: 0.7em 1em;

      @include mq(m) {
        border: 2px solid $alto;
        border-right: none;
      }
    }
  }

  .views-exposed-widgets .views-submit-button {
    width: 4%;
    margin: 0;
    padding: 0;
    position: relative;

    input[type=submit] {
      background: $brick-red url(../images/search_white.png) center center no-repeat;
      margin: 0;
      border-radius: 0;
      width: 100%;
      text-indent: -9999px;

      @include mq(r) {
        background: $brick-red url(../images/search_white_2x.png) center center no-repeat;
        background-size: 50%;
      }
    }
  }

  #edit-search-api-views-fulltext-wrapper label {
    display: none;
  }


}

// Load more button
.page-fighting-hate-hate-incidents .pager-load-more a {
  @extend %button-clear-dark;
  margin-bottom: 0;
  display: block;
}
