#content-area {

  ul {
    padding-left: 2em;
    margin-bottom: 2em;
  }

  ul li {
    list-style-type: disc;
  }

  .field-name-body img {
    margin: 0 1em 1em 1em;
  }

  .group-content .field-name-body p {
    margin-bottom: 2em;
    line-height: 2;
  }
}
