.toggle-section {
  border-bottom: 2px solid $alto;
  text-align: center;
  padding-bottom: 1.5rem;
}

.toggle-label {
  cursor: pointer;
  font-family: $heading-font-light;
  font-size: 2.25em;
  text-transform: uppercase;

  &.active {
    border-bottom: 2px solid $brick-red;
  }
}

.hatemap-layer-toggle {
  height: auto;
  overflow: hidden;
}

// Map switch
.switch {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
  height: 60px;
}

input#onoff {
  display: inline-block;
  opacity: 0;
  position: absolute;
}

label.onoff-switch {
  margin-top: 1.85em;
  width: 60px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: $alto;
  border-radius: 30px;

  transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
}
label.onoff-switch:after {
  left: 0;
  width: 30px;
  height: 30px;
  //margin: 5px;
  content: '';
  position: absolute;
  background: $brick-red;
  border-radius: 15px;
}
input#onoff:checked + label {
  background: $alto;
}
input#onoff:checked + label:after {
  left: auto;
  right: 0;
}
