.leaflet-marker-icon.icon-state-count {
  background: $brick-red;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 30px;

  .count-number {
    color: $white;
  }
}
