aside .group-case-details,
aside .view-cases {
  h2, h3 {
    @extend %sidebar-heading;
    font-size: 36px;
    margin-top: 0;
  }

  h3 a {
    border-bottom: none;
    font-family: $heading-font-light;
    font-size: 36px;
    text-decoration: none;

    &:hover { color: $dune;}
  }


  .field-label-inline,
  .field-name-field-case-counsel,
  .field-name-field-case-date-filed,
  .field-name-field-publish-date,
  .group-case-details .field-label-inline {
    @extend %field-label-field-item;
    margin-bottom: 1em;

  }

  .field-name-field-documents {
    @extend %document-link;
  }

  .field-name-title-field {
    clear: left;
  }



  .field-name-field-issue-area {
    .field-item {
      padding: 0;
    }

    .field-item a {
      @extend %tag;
      font-size: em(18px);
      text-decoration: none;
    }
  }

  .field-name-field-case-active,
  .field-name-field-case-landmark,
  .field-name-field-issue-area {
    display: inline-block;
    float: left;
    margin-right: 0.5rem;
  }

  .field-name-field-case-active .field-item,
  .field-name-field-case-landmark .field-item {
    @extend %tag-red;
    font-family: $heading-font-light;
  }
}

aside .group-case-details {
  margin-top: 2rem;
}

aside .field-name-field-documents {
  h2 {
    @extend %sidebar-heading;
  }

  @extend %document-link;
}


.node-type-office #content-area aside h2 {
  border-bottom: none;
  font-family: $body-font;
  font-size: 1em;
  text-transform: none;
}
