.view-solr-cases .view-content {
  clear: left;
}

.view-solr-cases .views-row {
  border-bottom: 1px solid $alto;
  margin-top: 2em;
  padding-bottom: 2em;

  &:last-child {
    border-bottom: none;
  }

  h1 {
    font-family: $heading-font;
    font-size: em(24px);
    margin-top: 0;

    a {
      color: $dune;
      text-decoration: underline;
      text-transform: none;
    }
    a:hover {
      color: $brick-red;
    }
  }

  .field-type-entityreference a {
    @extend %tag;
    text-decoration: none;
  }

  .field-type-list-boolean {
    @extend %tag-red;
  }

  .field-label-inline {
    @extend %field-label-field-item;
    color: $oregon;

    .field-label h2 {
      font-weight: normal;
    }
  }

  .field-name-field-issue-area,
  //.field-name-field-case-date-filed,
  .field-name-field-case-landmark {
    display: inline-block;
    float: left;
    line-height: 1;
    margin-right: 0.5em;
    margin-bottom: 1em;
  }

  .field-name-field-publish-date,
  .field-name-field-case-date-filed {
    clear: left;
    display: block;
    float: none;
    margin-bottom: 0.5rem;
  }

  .field-name-body {
    clear: left;
  }
}
