.hero {
    background: url(../img/hero.jpg) no-repeat;
    background-size: cover;
    height: rem(470px);
    margin-bottom: 2rem;

    @include mq(t) {
        margin-bottom: 0;
    }

    @include mq(m) {
        background-position: center;
        height: rem(400px);
        margin-bottom: 0;
    }

    .outer-container {
        overflow: hidden;
        height: 100%;
        position: relative;
    }

    .text {
        color: $white;
        position: absolute;
        bottom: 4rem;
        text-align: center;
        z-index: 1;
    }

    h1 {
        margin-bottom: 1rem;
        text-transform: uppercase;

        @include mq(m) {
            font-size: rem(42px);
        }
    }

    p {
        font-family: $heading-font;
        font-size: rem(24px);
        line-height: 1.8rem;
        max-width: 70%;
        margin: 0 auto;

        @include mq(m) {
            font-size: rem(18px);
            width: 100%;
        }
    }
}
