
[id*="block-bean-section-header---what-we-do"] {
  padding-top: 2em;
}

[id*="block-bean-what-we-do-"] {
  @include span-columns(4);
  margin-bottom: 1em;
  padding: 1em 0;

  @include mq(m) {
    @include span-columns(12);
  }

  @include mq(t) {
    @include span-columns(12);
  }
}

[id*="block-bean-what-we-do-"] img {
  height: auto;
  width: 100%;
}

[id*="block-bean-what-we-do-"] .field-name-title-field {
  @extend %h3;
  margin-top: 0.2em;
  text-transform: uppercase;
  text-decoration: underline;

  a {
    color: $dune;
  }
}

[id*="block-bean-what-we-do-"] .field-name-field-long-text {
  margin-bottom: 1em;
}

[id*="block-bean-what-we-do-"] .field-type-link-field a {
  @extend %button-clear-dark;
  font-size: 1.1em;
}

[id*="block-bean-what-we-do-"] p {
  font-size: em(15px);
}