.front #content-bottom-1 [id*="block-bean-priority"] {
  @include span-columns(4);



  @include mq(l) {
    &:nth-of-type(3n) {
      @include omega;
    }
  }

  @include mq(d) {
    &:nth-of-type(3n) {
      @include omega;
    }
  }

  @include mq(t) {
    @include span-columns(6);

    &:nth-of-type(2n) {
      @include omega;
    }
  }

  @include mq(m) {
    @include span-columns(12);
  }

  text-align: center;

  .block-inner {
    padding: 2rem;
  }

  img {
    border-radius: 100%;
    height: em(100px);
    width: em(100px);
    @include default-transition;
  }

  .field-name-title-field {
    @extend %h3;
    margin-bottom: 1rem;
    text-transform: uppercase;

    a {
      color: $dune;
      text-decoration: none;
    }
  }

  .field-type-link-field a {
    @extend %button-clear-dark;
    font-size: rem(20px);
  }

  // Hover behaviors for priority block
  &:hover {
    background: $brick-red;
    color: $white;
    @include default-transition;

    .field-name-title-field {
      color: $white;

      a { color: $white; }
    }

    .field-name-field-priority-bean-text {
    }


    .field-type-link-field a {
      @extend %button-clear;
      font-size: rem(20px);
    }

    .block-inner {
      border-right: 1px solid $brick-red;
    }
  }
}

/*[id*="block-bean-priority-"] .block-inner {
  border-right: 1px solid $gallery;
  max-height: em(394px);
  min-height: em(394px);
  overflow: hidden;
  padding: 1em;
  @include default-transition;
}

// Remove right border from last item
[id*="block-bean-priority-"]:last-child .block-inner {
  border-right: none;
}


[id*="block-bean-priority-"] .field-type-image {
  margin-top: 5em;
  text-align: center;
  @include default-transition;
}

[id*="block-bean-priority-"] img {
  border-radius: 100%;
  height: em(100px);
  width: em(100px);
  @include default-transition;
}

[id*="block-bean-priority-"] .field-name-title-field {
  @extend %h3;
  text-transform: uppercase;

  a {
    color: $dune;
    text-decoration: none;
  }
}

[id*="block-bean-priority-"] .field-name-field-priority-bean-text {
  color: $white;
  font-size: em(14px);
  margin-top: 12em;
  @include default-transition;
}

[id*="block-bean-priority-"] .field-type-link-field {
  margin-top: 1em;
  position: absolute;
  left: 0;
  bottom: -5em;
  text-align: center;
  width: 100%;
  @include default-transition;
}

[id*="block-bean-priority-"] .field-type-link-field a {
  @extend %button-clear;
}*/
