.front #banner-content {
  background-image: url(../images/email-block-bg.jpg) !important;
  background-repeat: none;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: $brick-red;

  @include mq(t) {
    background-position: top center;
  }

  @include mq(m) {
    background-position: top center;
  }
}

#email-signup-banner-left {
  background-image: none !important;
  color: $white;
  float: left;
  height: em(60px);
  width: 60%;

  font-family: $heading-font;
  font-size: em(20px);
  line-height: em(60px);
  text-align: left;

  @include mq(t) {
    float: none;
    font-size: em(16px);
    line-height: 80px;
    width: 100%;
    text-align: center;
  }

  @include mq(m) {
    float: none;
    font-size: em(16px);
    line-height: 80px;
    width: 100%;
    text-align: center;
  }
}

#email-signup-banner-right {
  background: $brick-red;
  float: left;
  height: 80px;
  width: 40%;
  padding: 0 1em;

  @include mq(t) {
    background: none;
    margin-top: 1.5rem;
    width: 100%;
    float: none;
  }

  @include mq(m) {
    background: none;
    margin-top: 1.5rem;
    width: 100%;
    float: none;
  }


  .form-type-textfield {
    float: left;
    width: 70%;
    margin: 0;
    padding: 0;
  }

  #edit-input {
    border-radius: 0;
    border: none;
    margin-top: 20px;
    padding: 0.5em 1em 0.75em;

    &:focus {
      box-shadow: none;
    }
  }

  #edit-submit {
    background: $brick-red-lower;
    border-radius: 0;
    border: none;
    float: left;
    font-family: $heading-font-light;
    margin: 20px 0 0 0;
    text-transform: uppercase;
    text-align: center;
    width: 30%;
  }
}
