.front #wide-cta-1,
.front #wide-cta-2 {
  .block {
    @include mq(t) {
      padding: 1rem 0;

      .block-inner {
        padding: 0 1rem;
      }

      .field-name-title-field a {
        font-size: rem(32px);
      }
    }

    @include mq(m) {
      padding: 1rem 0;

      .block-inner {
        padding: 0 1rem;
      }

      .field-name-title-field a {
        font-size: rem(32px);
      }
    }
  }
}
