#secondary-nav #block-menu_block-2 ul.menu li.search-item {
  margin-left: -2px !important;

  @include mq(t) {
    display: none;
  }

  @include mq(m) {
    display: none;
  }
}

#secondary-nav #block-menu_block-2 ul.menu li.search-item  input[type=text] {
  background: $white url(../images/search.png) center center no-repeat;
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: inline;
  margin-bottom: 0;
  outline: none;
  padding: 0.4em 1.06em;
  @include transition(all 0.3s ease-in-out);
  width: em(15px);

  @include mq(r) {
    background: $white url(../images/search_2x.png) center center no-repeat;
    background-size: em(18px);
  }

  @include mq(t) {
    background-position: 1em center;
    width: 80%;
    display: block;
    margin: 0 auto 1em;
    padding-left: 2em;
  }

  @include mq(m) {
    background-position: 1em center;
    width: 80%;
    display: block;
    margin: 0 auto 1em;
    padding-left: 2em;
  }

  &:focus {
    background-position: 1em center;
    color: $dune;
    padding-left: 2.2em;
    width: 10em;
    @include transition(all 0.3s ease-in-out);

    @include mq(t) {
      width: 80%;
      display: block;
      margin: 0 auto;
    }

    @include mq(m) {
      width: 80%;
      display: block;
      margin: 0 auto;
    }
  }
}
