form {
  & > div {
    @include span-columns(8);
    @include shift(2);
  }

  h3 {
    @extend %sidebar-heading;
    border-bottom: 4px solid $alto;
  }

  label {
    clear: left;
    font-family: $heading-font;
  }

  fieldset {
    background: none;
    border: none;
    padding: 0;
  }

  fieldset legend {
    @extend %h3;
    font-weight: bold;
    text-transform: uppercase;
  }

  // removes padding from date selects
  fieldset.date-combo .container-inline-date .date-padding {
    padding: 0;
  }

  textarea,
  input[type=text],
  input[type=email],
  input[type=search] {
    border: 2px solid $gallery;
    border-radius: 0;
    font-family: $heading-font;
    font-weight: bold;
    display: block;
    padding: 0.5em 1em;
    box-shadow: none;

    &:hover {
      border: 2px solid $oregon-border;
    }

    &:focus {
      border: 2px solid $dune;
      box-shadow: none;
      color: $dune;
    }

    &.error {
      border: 2px solid $brick-red;
      color: $brick-red;
    }
  }

  .container-inline-date .form-item .form-item {
    margin-right: 1em;
  }

  .chosen-container .chosen-results {
    padding-left: 0 !important;
  }

  .chosen-container .chosen-results li {
    list-style-type: none !important;
  }
}
