#system-messages {
  bottom: 5em;
  border: none;
  box-shadow: 2px 0 5px black;
  //display: none;
  position: fixed;
  padding: 0;
  width: 500px;
  z-index: 1000;

  span.close-message {
    background: $brick-red-lower;
    border: 1px solid $oregon;
    border-radius: 100%;
    color: $white;
    cursor: pointer;
    display: block;
    height: 24px;
    width: 24px;
    margin: 0;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: -0.5em;
    right: -0.5em;

    &::after {
      @extend %splc-close;
      margin: 0;
    }
  }
}
#system-messages .messages {
  @include feature-gradient;
  //border-radius: 0 0.5em 0.5em 0;
  border: none;
  margin: 0;
  opacity: 0.9;
  padding-right: 2em;


  &.error {
    color: $white;
  }

  &.status {
    color: $white;
  }
}
