body {
  font-family: $body-font;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;

  @include mq(t) {
    padding-top: rem(72);
  }

  @include mq(m) {
    padding-top: rem(72);
  }

  &.front {
    @include mq(t) {
      padding-top: rem(52);
    }

    @include mq(m) {
      padding-top: rem(52);
    }
  }
}

body.logged-in {
  position: relative;
}

h1, %h1 {
  font-family: $heading-font-light;
  font-size: 64px;
  font-weight: normal;
  text-transform: uppercase;
}

.front h1, .front %h1 {
  font-size: 108px;
}

h2, %h2,
h3, %h3,
h4, %h4,
h5, %h5,
h6, %h6 {
  font-family: $heading-font-light;
}

h2, %h2 {
  font-size: em(36px);
}

h3, %h3 {
  font-size: em(28px);
}

h4, %h4 {
  font-size: em(20px);
}

h5, %h6 {
  font-size: em(18px);
}

// Links
a {
  color: $brick-red-lower;
  text-decoration: underline;
  @include default-transition;

  // External link icon
  span.ext {
    background-image: url(../images/extlink_s_red.png);
    margin-right: 0.3em;
  }
}

a:hover {
  color: $brick-red;
  @include default-transition;

  span.ext {
    background-image: url(../images/extlink_s_red_bright.png);
    margin-right: 0.3em;
  }
}

#header a,
footer a {
  text-decoration: none;
}

blockquote {
  border-left: 4px solid $alto;
  font-size: em(14px);
  font-style: italic;
  margin: 2em 10%;
  padding: 0 1em;
}



// Drupalisms
.element-invisible {
  display: none;
}

.element-focusable {
  display: none;

  &:active,
  &:focus {
    display: block;
  }
}

// Field Collections
.field-collection-container {
  margin: 0;
  border-bottom: none;
}

.field-collection-view {
  border-bottom: none;
}
