// Footer menus
footer .contact-wrapper {
  @include span-columns(4);

  @include mq(t) {
    @include span-columns(12);
    margin-bottom: 1em;
  }

  @include mq(m) {
    @include span-columns(12);
    margin-bottom: 1em;
  }
}




footer #block-menu_block-5,
footer #block-menu_block-7,
footer #block-menu_block-8,
footer #block-menu_block-6 {
  @include span-columns(2);

  @include mq(t) {
    @include span-columns(3);
      @include omega(4);
    margin-bottom: 1em;
  }

  @include mq(m) {
    @include span-columns(6);
    margin-bottom: 1em;
  }

  // Remove list style from menu links
  & .menu-block-wrapper ul.menu li {
    list-style: none;
    margin-left: 0;
  }

  // Top level menu links
  & .menu-block-wrapper > ul.menu > li > a {
    color: $white;
    font-family: $heading-font-light;
    font-size: em(24px);
    text-transform: uppercase;
  }

  // Second level menu links
  & .menu-block-wrapper > ul.menu > li > ul.menu li a {
    color: $white;
    font-family: $heading-font;
  }
}

footer #block-menu_block-6,
footer #block-menu_block-7 {
  @include mq(m) {
    @include omega;
  }
}

footer #block-menu_block-6 {
  @include mq(t) {
    @include omega;
  }
}

// Logo, social links, and address
footer .menu-name-menu-social {
  padding-bottom: 1.7em;

  ul.menu li {
    display: inline;
    margin: 0;
  }

  ul.menu li:first-child a img {
    width: 50%;

    @include mq(t) {
      width: 28%;
    }
  }

  ul.menu li.first {
    display: none;

  }

  .icon {
    color: $buttercup;
    font-size: em(23px);
  }

  .facebook a,
  .twitter a {
    display: inline-block;
    height: em(23px);
    width: em(28px);
    overflow: hidden;
  }

  .facebook a::before {
    @extend %splc-facebook;
    @extend .icon;
  }

  .twitter a::before  {
    @extend %splc-twitter;
    @extend .icon;
  }
}
