  <div class="outer-container">
    <a class="logo" href="//www.splcenter.org">
    </a>
    <div class="nav-toggle">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
  </div>
  <nav class="main-nav">
    <div class="outer-container">
      <ul>
          <li>
              <a href="//www.splcenter.org/what-we-do">What We Do</a>
          </li>
          <li>
              <a href="//www.splcenter.org/our-issues">Our Issues</a>
          </li>
          <li>
              <a href="//www.splcenter.org/resources">Resources</a>
          </li>
          <li>
              <a href="//www.splcenter.org/hate-map">Hate Map</a>
          </li>
      </ul>
    </div>
  </nav>

