          <div class="promo-block memoriam">
              <h1>Give In Memoriam</h1>
              <p>
                  Donate to SPLC in someone’s honor, or in memoriam of a friend or loved one.
              </p>
              <a class="button-clear" href="/#/tribute">Get Started</a>
          </div>
          <div class="promo-block gift">
              <h1>A Free Gift for You</h1>
              <img src="img/gift.png" alt="3 Intelligence Report magazines" />
              <p>
                  Supporters giving $25 or more receive a subscription to our quarterly magazine Intelligence Report.
              </p>
          </div>
