// Black navbar 
#main-navigation #block-menu_block-3 {
  background: $dune;
  padding-top: 2.1em;
  padding-bottom: 0.5em;

  @include mq(t) {
    padding-top: 1em;
  }

  @include mq(m) {
    padding-top: 1em;
  }
}

#main-navigation #block-menu_block-3 .block-inner {
  @include outer-container;

  @include mq(t) {
    padding: 0 1em;
  }

  @include mq(m) {
    padding: 0 1em;
  }
}


// Top level link
#main-navigation #block-menu_block-3 h2.block-title {
  float: left;
  font-size: 18px;
  margin: 0 0 0 0;
  padding-right: 0.8em;
  text-transform: uppercase;

  a { 
    font-size: 1.1em;
    letter-spacing: 0.04em;
    font-family: $heading-font-light;
    color: $white; 
  }

  a::before {
    @extend %splc-chevron-left;
    font-size: em(12px);
  }

  @include mq(t) {
    width: 100%;
  }

  @include mq(m) {
    width: 100%;
  }
}

// Position child ul against top level link
#main-navigation #block-menu_block-3 ul.menu {
  border-left: 1px solid rgba($white, 0.71);
  display: block;
  float: left;
  max-width: 85%;

  @include mq(t) {
    border-left: none;
    border-top: 1px solid rgba($white, 0.71);
    display: none;
    margin-top: 1em;
    max-width: 100%;
    width: 100%;
    padding-top: 1em;
  }

  @include mq(m) {
    border-left: none;
    border-top: 1px solid rgba($white, 0.71);
    //display: none;
    margin-top: 1em;
    max-width: 100%;
    width: 100%;
    padding-top: 1em;
  }
}

// Display all list items inline
#main-navigation #block-menu_block-3 ul.menu li {
  display: inline;
}

// Display child list items as list item on mobile
#main-navigation #block-menu_block-3 ul.menu li {
  @include mq(t) {
    display: list-item;
    list-style: none;
  }

  @include mq(m) {
    display: list-item;
    list-style: none;
  }
}


// Set the font on the top level link
#main-navigation #block-menu_block-3 ul.menu > li > a {
  font-family: $heading-font;
  color: $white;
  color: rgba($white, 0.71);
  word-wrap: break-word;
}

// Active child link
#main-navigation #block-menu_block-3 ul.menu > li.active {
  @include mq(m) {
    margin-bottom: 0.5em;
  }
}

#main-navigation #block-menu_block-3 ul.menu > li > a.active {
  border-bottom: 5px solid $brick-red;
  color: $white;
  padding-bottom: 0.35em;
}

// Toggle for menu on tablet and mobile
.breadcrumb-toggle {
  display: none;
  float: right;
  text-transform: none;

  @include mq(t) {
    display: initial;
  }

  @include mq(m) {
    display: initial;
  }

  &::after {
    @extend %splc-chevron-down;
    font-size: em(12px);
    margin-left: 0.5em;
  }
}

.breadcrumb-toggle.open {
  &::after {
    @extend %splc-chevron-up;
  }
}
