%landing-page-social {
  @include span-columns(12);
  margin-bottom: 2em;
  text-align: center;
  position: relative;
  z-index: 2;

  // Addthis social icons
  a.at300b {
    display: inline-block !important;
    border: 3px solid $buttercup;
    border-radius: 50%;
    background: none !important;
    margin-right: 0.2em;
    margin-left: 0.2em;
  }

  a span.at4-icon::before {
    color: $buttercup;
    font-size: em(20px);
    margin-top: 0.4em;
  }
}

%landing-page-search-bar {
  background: $alto;
  padding: 1em;

  .views-exposed-widgets {
    float: none;
    margin: 0;
    padding: 0;
  }

  .views-exposed-widget {
    padding: 0;
  }

  .views-exposed-widgets #edit-keyword-wrapper {
    width: 96%;

    input[type=text] {
      border: none;
      border-radius: 0;
      margin-bottom: 0;
      padding: 0.7em 1em;
      @include appearance(none);
    }
  }

  .views-exposed-widgets .views-submit-button {
    width: 4%;
    margin: 0;
    padding: 0;
    position: relative;

    input[type=submit] {
      background: $brick-red;
      margin: 0;
      border-radius: 0;
      width: 100%;
      text-indent: -9999px;
    }

    &::before {
      @extend %splc-search;
      color: $white;
      display: block;
      width: 100%;
      line-height: 2.5em;
      margin: 0;
      position: absolute;
      text-align: center;
      z-index: 1;
    }
  }

  #edit-keyword-wrapper label {
    display: none;
  }
}

%landing-page-view {

  .views-row {
    border-bottom: 1px solid $alto;
    margin-top: 1em;
    overflow: hidden;
    padding-bottom: 1em;
  }

  .views-row .field-name-field-icon,
  .views-row .field-name-field-image {
    @include span-columns(4);
    float: right;
    @include omega;

    @include mq(t) {
      @include span-columns(12);
    }

    @include mq(m) {
      @include span-columns(12);
    }
  }

  .views-row .field-name-field-icon img {
    float: right;
  }

  .views-row .group-text-field-group {
    @include span-columns(8);
    float: left;
    
    @include mq(t) {
      @include span-columns(12);
    }

    @include mq(m) {
      @include span-columns(12);
    }
  }

  .views-row h1,
  .views-row .field-name-title-field,
  .views-row .field-name-title-field h1 {
    font-family: $heading-font;
    font-size: 24px;
    margin-top: 0;

    a {
      color: $dune;
      font-size: 24px;
      text-decoration: underline;
      text-transform: none;
    }
    a:hover {
      color: $brick-red;
    }
  }
}

.page-fighting-hate-extremist-files-ideology .field-name-field-addthis,
.page-fighting-hate-extremist-files-groups .field-name-field-addthis,
.page-fighting-hate-extremist-files-individual .field-name-field-addthis {
  @extend %landing-page-social;
}

#views-exposed-form-ideology-landing-page-ideologies-landing .views-exposed-form,
#views-exposed-form-groups-landing-page-groups-landing .views-exposed-form,
#views-exposed-form-extremists-landing-page-extremists-landing .views-exposed-form {
  @extend %landing-page-search-bar;
}

.view-ideology-landing-page,
.view-groups-landing-page,
.view-extremists-landing-page {
  @extend %landing-page-view;
}
