.page-hate-map #block-splc_common-splc_email_signup_banner,
.page-intelligence-report #block-splc_common-splc_email_signup_banner,
.page-hatewatch #block-splc_common-splc_email_signup_banner,
.page-news #block-splc_common-splc_email_signup_banner {
  background-image: url(../images/email-block-bg.jpg) !important;
  background-repeat: none;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: $brick-red;
  margin-bottom: 2em;
  padding-left: 1em;

  @include mq(t) {
    background-size: cover;
    background-position: center top;
  }

  @include mq(m) {
    background-size: cover;
    background-position: center top;
    padding-left: 0;

    #email-signup-banner-right .form-type-textfield {
      width: 65%;
    }

    #email-signup-banner-right #edit-submit {
      width: 35%;
    }

    .email-signup-banner-text {
      line-height: 1.2;
      margin-top: 1.2rem;
    }
  }
}
