.view-display-id-eva_stories_by_ideology,
.view-display-id-eva_stories_by_extremist_profile,
.view-related-content {
  margin-bottom: 2em;
  overflow: hidden;

  h2.title {
    text-transform: uppercase;
    border-bottom: 4px solid $alto;
    padding-bottom: 0.5em;
  }

  .views-row {
    @include span-columns(4);
  }

  .views-row:nth-of-type(1) article,
  .views-row:nth-of-type(2) article {
    border-right: 1px solid $alto;
    padding: 0 1em 2em 0;
  }

  .views-row .field-type-entityreference {
    @extend %tag-mustard;
    margin-bottom: 1em;
  }

  .views-row .field-name-title-field a {
    color: $dune;
    font-family: $heading-font;
    font-size: em(20px);
    line-height: 1.2;
  }

  .more-link {
    @extend %more-link;
    clear: left;
  }
}
