.node-type-group aside {

  h2 {
    display: block;
    @extend %sidebar-heading;
    font-size: em(32px);
  }

  .group-extremist-group-info {
    margin-bottom: 2em;

    h2 {
      margin-top: 0;
    }
  }

  .group-extremist-group-info .field {
    @extend %field-label-field-item;
    margin-bottom: 1em;

    a {
      color: $brick-red-lower;
      font-family: $body-font;
      font-size: em(16px);
    }
  }

  .view-extremist-profiles {
    @extend %person-teaser;

    a {
      color: $brick-red-lower;
    }
  }
}
