// Social icons
.page-fighting-hate-extremist-files .field-name-field-addthis {
  @include span-columns(12);
  margin-top: -8em;
  margin-bottom: 2em;
  text-align: center;
  position: relative;
  z-index: 2;

  // Addthis social icons
  a span.at4-icon {
    display: inline-block !important;
    border: 3px solid $buttercup;
    border-radius: 50%;
    background: none !important;
    margin-right: 0.2em;
    margin-left: 0.2em;
  }

  a span.at4-icon::before {
    color: $buttercup;
    font-size: em(20px);
    margin-top: 0.4em;
  }
}

// Body text
.page-fighting-hate-extremist-files .addthis-body-wrapper .field-name-body {
  @include span-columns(12);
  font-family: $heading-font;
  font-size: em(20px);
  text-align: center;
  border-bottom: 4px solid $alto;
  padding-bottom: 2em;
}

.page-fighting-hate-extremist-files .block-views {
  .block-inner {
    @include outer-container;
    border-bottom: 4px solid $alto;
    margin-bottom: 2em;
    padding-bottom: 4em;
  }

  .block-title {
    font-size: em(48px);
    font-weight: normal;
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
  }

  .view-header {
    @extend %h3;
    color: $oregon;
    margin-bottom: 2em;
    margin-top: 0;
    text-align: center;
  }
}
#block-views-hate_ideologies-block {
  // Ideologies
  .block-title {
    margin-bottom: 1em;
  }

  .view-hate-ideologies {
    .view-content {
      overflow: hidden;
      margin-bottom: 2em;
    }

    .views-row {
      @include span-columns(3);
      margin-bottom: 2em;
      text-align: center;

      @include mq(t) {
        @include span-columns(6);
        @include omega(2);
        @include omega(4);
      }

      @include mq(m) {
        @include span-columns(12);
      }
    }

    .views-row .field-name-field-icon {
      margin-bottom: 1em;
    }

    .views-row .content a {
      @extend %h2;
      line-height: 1;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

#block-views-cb54e4252f68ee3fb86f32ee75975ac3 .views-row,
#block-views-groups-hate_groups .views-row {
  @include span-columns(12);
  margin-bottom: 2em;

  @include mq(m) {
    padding: 0 1rem;
  }

  .field-name-title-field h1 {
    color: $brick-red-lower;
    font-size: em(36px);
    margin-top: 0;

    a {
      text-decoration: none;
    }
  }

  .node-extremist-profile .field-name-field-image,
  .node-group .field-name-field-image {
    @include span-columns(6);

    @include mq(m) {
      @include span-columns(12);
    }
    picture, img { width: 100%; }
  }

  .node-extremist-profile .group-text-field-group,
  .node-group .group-text-field-group {
    @include span-columns(6);

    @include mq(m) {
      @include span-columns(12);
    }
  }

  .node-extremist-profile .field-name-field-image {
    @include shift(6);

    @include mq(m) {
      @include shift(0);
    }
  }

  .node-extremist-profile .group-text-field-group {
    @include shift(-12);

    @include mq(m) {
      @include shift(0);
    }
  }
}

.page-fighting-hate-extremist-files .more-link {
  clear: left;
  text-align: center;

  a {
    @extend %button-clear-dark;
  }
}

#block-views-hate_ideologies-block .block-inner {
  border-bottom: none;
}
