#logo-container {
  position: relative;

  @include mq(t) {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 60%;
    z-index: 1;
  }

  @include mq(m) {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 60%;
    z-index: 1;
  }

}

#logo-container #logo {
  background: $brick-red-lower url(../images/logo.png) center center no-repeat;
  display: block;
  height: em(123px);
  width: em(245px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  @include mq(r) {
    background: $brick-red-lower url(../images/logo_2x.png) center center no-repeat;
    background-size: em(211.72px) em(64.74px);
  }

  @include mq(t) {
    background: $brick-red-lower url(../images/logo.png) 1em center no-repeat;
    background-size: 30%;
    height: 85px;
    width: 100%;
    position: initial;
  }

  @include mq(m) {
    background: $brick-red-lower url(../images/logo.png) center center no-repeat;
    background-size: 60%;
    height: 55px;
    width: 100%;
    position: initial;
  }
}
