.page-hatewatch #block-splc_story-hatewatch_featured_story {
  @include feature-gradient;
  text-align: left;
  z-index: 1;

  .field-name-field-story-type {
    @extend %tag;
    margin-top: 2em;
  }

  .group-text-field-group {
    @include span-columns(3);
    @include shift(1);
    color: $white;

    @include mq(t) {
      @include span-columns(12);
      @include shift(0);
      padding: 1rem;
    }

    @include mq(m) {
      @include span-columns(12);
      @include shift(0);
      padding: 1rem;
    }
  }

  .field-name-field-image {
    @include span-columns(7);
    margin-top: -2em;

    @include mq(t) {
      @include span-columns(12);
      margin-top: 0;
    }

    @include mq(m) {
      @include span-columns(12);
      margin-top: 0;
    }

    a {
      display: block;
      line-height: 0;
    }

    img {
      width: 100%;
    }
  }

  .field-name-field-long-text {
    font-family: $heading-font;
    font-size: em(18px);
  }

  .field-name-title-field h1 {
    border-bottom: 4px solid $mine-shaft;
    font-size: em(28px);
    margin: 0.1em 0 0.5em 0;
    padding-bottom: 0.5em;

    a {
      color: $white;
      text-decoration: none;
      &:hover {
        color: $oregon;
      }
    }
  }

  .field-name-field-publish-date {
    color: $white;
    margin: 0.5em 0;
  }
}

.page-hatewatch #block-splc_common-splc_email_signup_banner {
  margin-bottom: 2rem;
}
