// Subtitle
.node-type-story .field-name-field-long-text {
  font-family: $heading-font;
  font-size: em(36px);
  line-height: 1.2;

  @include mq(m) {
    font-size: em(24px);
  }
}

// Body text
.node-type-story .field-name-body p {
  font-size: em(20px);
  line-height: 1.8;
  margin-bottom: 1.5em;

  @include mq(m) {
    font-size: em(16px);
  }
}

.node-type-story .field-name-body ul {
  font-size: em(20px);
}

.node-type-story .field-name-field-sections {
  .field-name-field-image img {
    width: 100%;
  }

  .group-image-caption-wrapper {
    position: relative;
    margin-bottom: 2em;

    .field-name-field-file-caption {
      background: $brick-red-lower;
      color: $white;
      padding: 1em;
      position: absolute;
      bottom: -0.5em;
      right: 0;
      max-width: 40%;
      width: 40%;

      @include mq(t) {
        max-width: 50%;
        width: 50%;
      }

      @include mq(m) {
        max-width: none;
        position: relative;
        padding: 0.5em;
        width: 100%;
      }

      .field-item::before {
        @extend %splc-chevron-up;
        font-size: em(14px);
        margin-right: 1em;
        color: $buttercup;
      }
    }
  }

  .field-name-title-field {
    h3 {
      font-size: em(24px);
      font-family: $heading-font;
      font-weight: normal;
    }
  }

  .field-name-field-section-body {
    p {
      font-size: em(20px);
      line-height: 1.8;
      margin-bottom: 2em;
    }
  }
}
