.node-type-story .group-byline {
  margin-bottom: 2em;

  @include mq(m) {
    padding: 1em;
    margin-bottom: 1em;
  }

  .group-byline-container {
    border-bottom: 4px solid $alto;
    padding-bottom: 2em;

    @include mq(m) {
      padding-bottom: 1em;
    }
  }

  .group-author-wrapper,
  .field-name-field-addthis,
  .field-name-field-story-issue-area {
    @include span-columns(4);

    @include mq(m) {
      @include span-columns(12);
    }
  }

  .group-author-wrapper {

    @include mq(m) {
      margin-left: 3em;
    }

    img {
      border-radius: 50%;
      float: left;
      margin-right: 0.5em;
    }

    .field-name-field-byline,
    .field-name-title-field {
      font-family: $heading-font;

      .field-item:before {
        content: 'by '		
      }
    }
  }

  .field-name-field-addthis {
    padding-top: 1em;
    text-align: center;

    @include mq(m) {
      text-align: center;
    }

    a span.at4-icon {
      display: inline-block !important;
      border: 3px solid $oregon;
      border-radius: 50%;
      background: none !important;
      margin-right: 0.2em;
      margin-left: 0.2em;
    }

    a span.at4-icon::before {
      color: $oregon;
      font-size: em(20px);
      margin-top: 0.4em;
    }
  }

  .field-name-field-story-issue-area {
    text-align: right;

    @include mq(m) {
      text-align: center;
    }

    a {
      color: $brick-red-lower;
      font-family: $heading-font;
      line-height: 4em;
    }
  }
}
