.node-type-ideology aside {
  h2 {
    @extend %sidebar-heading;
    font-size: em(32px);
    margin-top: 0;
  }

  .view {
    margin-bottom: 2em;
  }

  .view-groups,
  .view-display-id-eva_groups_by_ideology,
  .view-extremist-profiles {
    @extend %person-teaser;

    a {
      color: $brick-red-lower;
    }
  }

  .more-link {
    @extend %more-link;  
  }
}
