// Form extends

// Used to put 2 form elements on the same line
%form-item-first-half {
  float: left;
  width: 48%;
  margin-right: 4%;

  @include mq(m) {
    width: 100%;
  }
}

%form-item-second-half {
  float: left;
  margin-right: 0;
  width: 48%;

  @include mq(m) {
    width: 100%;
  }
}

// Form layout
.not-front.page-eform #main-content {
   @include outer-container;

  form.entityform {
    @include span-columns(8);
    @include shift(2);

    @include mq(m) {
      @include span-columns(12);
      @include shift(0);
    }
  }

  input[type=submit] {
    @extend %button-dark;
  }

  .grippie {
    display: none;
  }
}

// Report Hate Incident
.page-eform #hate-incident-entityform-edit-form {
  .field-type-taxonomy-term-reference {
    float: left;
    margin-right: 1em;
  }

  .field-name-field-first-name {
    @extend %form-item-first-half;
  }

  .field-name-field-last-name {
    @extend %form-item-second-half;
  }
}

// Credit card form
.page-eform #credit-card-entityform-edit-form {
  .field-name-field-first-name {
    @extend %form-item-first-half;
  }

  .field-name-field-last-name {
    @extend %form-item-second-half;
  }
}
