// Person header
.not-front.node-type-person .group-header {
  @include outer-container;
  margin-bottom: 2em;

  // Page title
  .field-name-title-field {
    margin-bottom: 0.5em;
    text-align: center;

    h1 {
      @extend %h1;
      margin-bottom: 0.5em;
    }
  }

  // Subtitle
  .field-name-field-person-title {
    border-bottom: 6px solid $alto;
    font-family: $heading-font;
    font-size: em(20px);
    margin-bottom: 2em;
    text-align: center;
    padding: 0 0 1em 0;
  }
}

.not-front.node-type-person .group-content {
  .field-name-field-image {
    float: left;
    margin: 0 1em 1em 0;
  }
}

.not-front.node-type-person aside {
  h2, %office-h2 {
    border-bottom: 3px solid $alto;
    margin-top: 0;
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
    text-transform: uppercase;
  }

  .field-name-field-issue-areas {
    margin-bottom: 1em;
  }

  .field-name-field-issue-areas a {
    @extend %tag;
    font-size: em(16px);
    text-decoration: none;
  }

  .field-name-field-office a {
    color: $dune;
    font-family: $heading-font;
    font-size: em(20px);
  }
}
