.page-about-board #content-area .block-title,
.page-about-staff #content-area .block-title {
  font-family: $heading-font;
  margin-bottom: 2em;
  text-align: center;
}

.page-about-board #content-area .view,
.page-about-staff #content-area .view {
  border-bottom: 4px solid $seashell;
  overflow: hidden;
  padding-bottom: 2em;
}

#content-area .view-board-teasers,
#content-area .view-staff-teasers {
  .item-list ul {
    padding-left: 0;
  }

  .item-list ul li {
    margin-left: 0;
  }

  .views-row {
    margin-bottom: 2em;

    @include mq(l) {
      @include span-columns(4);
      @include omega(3n);
    }

    @include mq(d) {
      @include span-columns(4);
      @include omega(3n);
    }

    @include mq(t) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include mq(m) {
      @include span-columns(6);
      @include omega(2n);
    }

    text-align: center;
  }

  .views-row img {
    border-radius: 50%;
  }

  .views-row .field-name-title-field a {
    font-family: $heading-font;
    font-size: em(24px);
    text-decoration: none;
  }

  .views-row .field-name-field-person-title {
    font-size: em(14px);
  }
}

#content-area #block-splc_person-block_people_by_issue_area {
  .item-list ul {
    padding-left: 0;
  }

  .item-list article {
    @include span-columns(3);
    margin-left: 0;
    margin-bottom: 2em;

    @include mq(t) {
      @include span-columns(6);
      @include omega(2n);
    }

    @include mq(m) {
      @include span-columns(6);
      @include omega(2n);
    }

    text-align: center;
  }

  .item-list h3 {
    font-family: $heading-font;
    margin-bottom: 2em;
    text-align: center;
    clear: left;
  }

  .item-list img {
    border-radius: 50%;
  }

  .item-list .field-name-title-field a {
    font-family: $heading-font;
    font-size: em(24px);
    text-decoration: none;
  }

  .item-list .field-name-field-person-title {
    font-size: em(14px);
  }
}
