 .page-intelligence-report #views-exposed-form-news-intel-report .views-exposed-form {
  background: $alto;
  padding: 1em;

  .views-exposed-widgets {
    float: none;
    margin: 0;
    padding: 0;
  }

  .views-exposed-widget {
    padding: 0;
  }

  .views-exposed-widgets #edit-keyword-wrapper {
    width: 96%;

    @include mq(t) {
      width: 96%;
    }

    @include mq(m) {
      width: 90%;
    }

    input[type=text] {
      border: none;
      border-radius: 0;
      margin-bottom: 0;
      padding: 0.7em 1em;
      @include appearance(none);
    }
  }

  .views-exposed-widgets .views-submit-button {
    width: 4%;
    margin: 0;
    padding: 0;
    position: relative;

    input[type=submit] {
      background: $brick-red url(../images/search_white.png) center center no-repeat;
      margin: 0;
      border-radius: 0;
      height: 42px;
      width: 100%;
      text-indent: -9999px;

      @include mq(r) {
        background: $brick-red url(../images/search_white_2x.png) center center no-repeat;
        background-size: 50%;
      }
    }
  }

  #edit-keyword-wrapper label {
    display: none;
  }
}
