<form name="tributeForm" novalidate>
  <h2>Donation Information</h2>
  <!-- DONATION AMOUNT -->
  <h3>Tribute Gift:</h3>
  <div class="radio-grp donation-group">
      <div class="radio-btn">
        <input type="radio" id="25" name="amount" value="25"
        ng-model="Gift.Designations.Amount"/>
        <label for="25">$25</label>
      </div>
      <div class="radio-btn">
          <input type="radio" id="50" name="amount" value="50" ng-model="Gift.Designations.Amount"/>
          <label for="50">$50</label>
      </div>
      <div class="radio-btn">
          <input type="radio" id="100" name="amount" value="100"
          ng-model="Gift.Designations.Amount"/>
          <label for="100">$100</label>
      </div>
      <div class="radio-btn">
          <input type="radio" id="500" name="amount" value="500"
          ng-model="Gift.Designations.Amount"/>
          <label for="500">$500</label>
      </div>
      <div class="radio-btn">
          <input type="radio" id="other" name="amount" value="other"
          ng-model="Gift.Designations.Amount"/>
          <label class="other-toggle" for="other">Other Amount:</label>
      </div>
      <div class="form-group other-group" ng-show="Gift.Designations.Amount == 'other'">
          <label for="other_amount">Other Amount: {{Gift.OtherAmount | currency}}</label>
          <input type="number" ng-model="Gift.OtherAmount" name="other_amount" ng-min="5" />
          <p class="error" ng-if="tributeForm.other_amount.$error.min && Gift.Designations.Amount == 'other'">Please enter at least 5.00</p>
      </div>
  </div>

  <!-- Honoree buttons -->
  <div class="radio-grp honoree-group">
      <div class="radio-btn">
          <input type="radio" id="in_honor" name="tribute_type" value="honor" ng-model="Gift.Tribute.TributeDefinition.Type"/>
          <label for="in_honor">In Honor Of</label>
      </div>
      <div class="radio-btn">
          <input type="radio" id="in_memory" name="tribute_type" value="memory" ng-model="Gift.Tribute.TributeDefinition.Type"/>
          <label for="in_memory">In Memory Of</label>
      </div>
  </div>

  <div class="form-group half">
      <label for="first_name">Honoree First Name<span class="required">*</span></label>
      <input type="text" name="honoree_first_name" ng-model="Gift.Tribute.TributeDefinition.FirstName" required>
      <div class="error" ng-messages="tributeForm.honoree_first_name.$error" ng-if="tributeForm.honoree_first_name.$touched">
        <p ng-message="required">Please enter a first name</p>
      </div>
  </div>
  <div class="form-group half last">
      <label for="last_name">Honoree Last Name<span class="required">*</span></label>
      <input type="text" name="honoree_last_name" ng-model="Gift.Tribute.TributeDefinition.LastName" required>
      <div class="error" ng-messages="tributeForm.honoree_last_name.$error" ng-if="tributeForm.honoree_last_name.$touched">
        <p ng-message="required">Please enter a last name</p>
      </div>
  </div>

  <!-- Notification options -->
  <h2>Notification</h2>
  <div class="radio-grp notification-options-group">
      <div class="radio-btn">
          <input type="radio" id="notification_none" name="notification_type" value="none" ng-model="Notification.Type"/>
          <label for="notification_none">None</label>
      </div>
      <div class="radio-btn">
          <input type="radio" id="notification_email" name="notification_type" value="email" ng-model="Notification.Type"/>
          <label for="notification_email">Email</label>
      </div>
  </div>
  <div class="notification-contact-info" ng-show="Notification.Type == 'email'">
      <h3>Notification Contact Information</h3>
      <div class="form-group half">
          <label for="notification_first_name">First Name<span class="required">*</span></label>
          <input type="text" name="notification_first_name" ng-model="Gift.Tribute.Acknowledgee.FirstName" ng-required="Notification.Type == 'email'">
          <div class="error" ng-messages="tributeForm.notification_first_name.$error" ng-if="tributeForm.notification_first_name.$touched">
            <p ng-message="required">Please enter a first name</p>
          </div>
      </div>
      <div class="form-group half last">
          <label for="notification_last_name">Last Name<span class="required">*</span></label>
          <input type="text" name="notification_last_name" ng-model="Gift.Tribute.Acknowledgee.LastName" ng-required="Notification.Type == 'email'">
          <div class="error" ng-messages="tributeForm.notification_last_name.$error" ng-if="tributeForm.notification_last_name.$touched">
            <p ng-message="required">Please enter a first name</p>
          </div>
      </div>
      <div class="form-group">
        <label for="gift_comments">Nofitication message <span class="required">*</span></label>
        <textarea name="gift_comments" ng-model="Gift.Comments" ng-required="Notification.Type == 'email'"></textarea>
        <div class="error" ng-messages="tributeForm.gift_comments.$error" ng-if="tributeForm.gift_comments.$touched">
          <p ng-message="required">Please enter a notification message</p>
        </div>
      </div>
      <div class="form-group">
          <label for="street_address">Address<span class="required">*</span></label>
          <input type="text" name="notification_address" ng-model="Gift.Tribute.Acknowledgee.AddressLines" ng-required="Notification.Type == 'email'">
          <div class="error" ng-messages="tributeForm.notification_address.$error" ng-if="tributeForm.notification_address.$touched">
            <p ng-message="required">Please enter your address</p>
          </div>
      </div>
      <div class="form-group">
          <label for="city">City<span class="required">*</span></label>
          <input type="text" name="notification_city" ng-model="Gift.Tribute.Acknowledgee.City" ng-required="Notification.Type == 'email'">
          <div class="error" ng-messages="tributeForm.notification_city.$error" ng-if="tributeForm.notification_city.$touched">
            <p ng-message="required">Please enter your city</p>
          </div>
      </div>
      <div class="form-group third">
          <label for="state">State<span class="required">*</span></label>
          <div class="select">
              <select class="state-select" name="notification_state" ng-model="Gift.Tribute.Acknowledgee.State"></select>
          </div>
      </div>
      <div class="form-group third">
          <label for="zipcode">Zip Code<span class="required">*</span></label>
          <input type="text" name="notification_postal_code" ng-model="Gift.Tribute.Acknowledgee.PostalCode" ng-pattern="/(^([0-9]{5})$)|(^[ABCEGHJKLMNPRSTVXYabceghjklmnprstvxy]{1}\d{1}[A-Za-z]{1} *\d{1}[A-Za-z]{1}\d{1}$)/" ng-required="Notification.Type == 'email'">
          <div class="error" ng-messages="tributeForm.notification_postal_code.$error" ng-if="tributeForm.notification_postal_code.$touched">
            <p ng-message="required">Please enter your zip code</p>
          </div>
          <p class="error" ng-show="tributeForm.notification_postal_code.$error.pattern">Please enter a valid zipcode</p>
      </div>
      <div class="form-group third last">
          <label for="country">Country<span class="required">*</span></label>
          <div class="select">
              <select class="country-select" name="notification_country" ng-model="Gift.Tribute.Acknowledgee.Country" ng-required="Notification.Type == 'email'">
              </select>
          </div>
          <div class="error" ng-messages="tributeForm.notification_country.$error" ng-if="tributeForm.notification_country.$touched && Gift.Tribute.Acknowledgee.Country == ''">
            <p ng-message="required">Please enter your country</p>
          </div>
      </div>
      <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="text" name="phone" ng-model="Gift.Tribute.Acknowledgee.Phone">
      </div>
      <div class="form-group">
          <label for="email">Email Address<span class="required">*</span></label>
          <input type="email" name="notification_email" ng-model="Gift.Tribute.Acknowledgee.Email" ng-required="Notification.Type == 'email'" ng-pattern="/^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$/">
          <div class="error" ng-messages="tributeForm.notification_email.$error" ng-if="tributeForm.notification_email.$touched">
            <p ng-message="required">Please enter an email </p>
            <p ng-message="pattern">Please enter a valid email </p>
          </div>
      </div>
      <div class="form-group">
          <label for="confirm_email">Confirm Email Address</label>
          <input type="email" name="confirm_email" ng-model="Notification.ConfirmEmail">
      </div>
      <!-- Physical Card Options -->
      <div class="form-group ecards">
          <h3>E Card Options (Pick one)</h3>
          <div class="radio-grp">
              <div class="card">
                  <label for="tribute card">Tribute Card
                    <input type="radio" name="ecard_type" value="tribute card" ng-model="Ecard.Type">
                  </label>
                  <img src="img/Tribute-card-cover.png" alt="Blue card with splc logo in bottom right corner">
              </div>
          </div>
          <div class="radio-grp">
              <div class="card">
                  <label for="tribute card">Holiday Tribute Card
                    <input type="radio" name="ecard_type" value="holiday card" ng-model="Ecard.Type">
                  </label>
                  <img src="img/Holiday-Tribute-card-cover.png" alt="Blue card with splc logo in bottom right corner">
              </div>
          </div>
      </div>
  </div>




  <h2>Payment</h2>
  <!-- DONOR INFORMATION -->
  <h3>Billing Address</h3>
  <div class="form-group half">
      <label for="first_name">First Name<span class="required">*</span></label>
      <input type="text" ng-model="Donor.FirstName" name="first_name" ng-minlength="2" required>
      <div class="error" ng-messages="tributeForm.first_name.$error" ng-if="tributeForm.first_name.$touched">
        <p ng-message="required">Please enter your first name</p>
        <p ng-message="minlength">Enter at least 2 letters for your first name</p>
      </div>
  </div>
  <div class="form-group half last">
      <label for="last_name">Last Name<span class="required">*</span></label>
      <input type="text" name="last_name" ng-model="Donor.LastName" ng-minlength="2" required>
      <div class="error" ng-messages="tributeForm.last_name.$error" ng-if="tributeForm.last_name.$touched">
        <p ng-message="required">Please enter your last name</p>
        <p ng-message="minlength">Enter at least 2 letters for your last name</p>
      </div>
  </div>
  <div class="form-group">
      <label for="street_address">Address<span class="required">*</span></label>
      <input type="text" name="street_address" ng-model="Donor.Address.StreetAddress" required>
      <div class="error" ng-messages="tributeForm.street_address.$error" ng-if="tributeForm.street_address.$touched">
        <p ng-message="required">Please enter your address</p>
      </div>
  </div>
  <div class="form-group">
      <label for="city">City<span class="required">*</span></label>
      <input type="text" name="city" ng-model="Donor.Address.City" required>
      <div class="error" ng-messages="tributeForm.city.$error" ng-if="tributeForm.city.$touched">
        <p ng-message="required">Please enter your city</p>
      </div>
  </div>
  <div class="form-group third">
      <label for="state">State<span class="required">*</span></label>
      <div class="select">
          <select class="state-select" name="state" ng-model="Donor.Address.State">
          </select>
      </div>
  </div>
  <div class="form-group third">
      <label for="zipcode">Zip Code<span class="required">*</span></label>
      <input type="text" name="postal_code" ng-model="Donor.Address.PostalCode" ng-pattern="/(^([0-9]{5})$)|(^[ABCEGHJKLMNPRSTVXYabceghjklmnprstvxy]{1}\d{1}[A-Za-z]{1} *\d{1}[A-Za-z]{1}\d{1}$)/" required>
      <div class="error" ng-messages="tributeForm.postal_code.$error" ng-if="tributeForm.postal_code.$touched">
        <p ng-message="required">Please enter your zip code</p>
      </div>
      <p class="error" ng-show="tributeForm.postal_code.$error.pattern">Please enter a valid zipcode</p>
  </div>
  <div class="form-group third last">
      <label for="country">Country<span class="required">*</span></label>
      <div class="select">
          <select class="country-select" name="country" ng-model="Donor.Address.Country" required>
          </select>
      </div>
      <div class="error" ng-messages="tributeForm.donor_country.$error" ng-if="tributeForm.donor_country.$touched && Donor.Address.Country == ''">
        <p ng-message="required">Please enter your country</p>
      </div>
  </div>
  <div class="form-group">
      <label for="phone">Phone Number</label>
      <input type="text" name="phone" ng-model="Donor.Phone">
  </div>
  <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" name="email" ng-model="Donor.EmailAddress" ng-pattern="/^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$/">
      <p class="error" ng-show="tributeForm.email.$error.pattern">Please enter a valid email address</p>
  </div>
  <div class="form-group">
      <label for="confirm_email">Confirm Email Address</label>
      <input type="email" name="donor_confirm_email" ng-model="Donor.ConfirmEmail" match="Donor.EmailAddress">
      <p class="error" ng-show="tributeForm.donor_confirm_email.$error.match">Make sure the email addresses match</p>
  </div>

  <!-- PAYMENT INFORMATION -->
  <div class="form-group form-actions">
    <h2>Proceed to Payment</h2>
    <button class="disabled" value="Enter Required Fields to Submit" disabled
      ng-show="tributeForm.$invalid">
        Enter required fields to submit
    </button>
    <button class="button-dark" type="submit" ng-show="tributeForm.$valid"
      ng-click="buildDonation(Donor, Gift, Notification, Ecard)">Continue to Payment</button>
  </div>
</form>
