#content-area aside .view-case,
#content-area aside .view-stories {
  .views-row {
    margin: 1em 0 2em;
  }

  .field-name-field-issue-areas {
    @extend %tag;
    margin-bottom: 0.02em;
  }

  .field-name-title-field a {
    color: $dune;
    font-family: $heading-font;
    font-size: em(18px);
  }
}
