
.node-type-issue-area .group-header {
  @include outer-container;
  margin-bottom: 2em;

  // Page title
  .field-name-title-field {
    border-bottom: 4px solid $seashell;
    margin-bottom: 0.5em;
    text-align: center;

    h1 {
      @extend %h1;
      color: $dune;
    }
  }

  // Subtitle
  .field-name-field-long-text {
    border-bottom: 4px solid $alto;
    font-family: $heading-font;
    font-size: em(20px);
    margin-bottom: 2em;
    text-align: center;
    padding: 1em 2em;
  }
}

.node-type-issue-area.has-background-image .group-header {
  background-repeat: no-repeat;
  background-position: 0px 0px, top;
  background-size: cover;
  margin-bottom: 3em;
  max-width: none !important;
  min-height: em(470px);
  padding: 2em 0;
  position: relative;
  text-align: center;

  h1 {
    font-family: $heading-font-light;
    font-weight: normal;
    margin: 2em 0 0 0;
    position: relative;
    z-index: 1;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  p {
    font-size: em(20px);
    width: 75%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    color: $white;
    font-family: $heading-font;
  }

  .field-name-title-field,
  .field-type-text-long {
    border-bottom: none !important;
  }
}
